.col-sm-6.cusine .multiselect-container.dropdown-menu{
    width: auto;
    border: 1px sold gray;
    width: auto;
}
.col-sm-6.ambience .multiselect-container.dropdown-menu{
    width: auto;
    border: 1px sold gray;
    width: auto;
}